<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burger BURGER</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/app.js"></script>
	<link
		href="https://fonts.googleapis.com/css?family=Fascinate+Inline|Fontdiner+Swanky|Rum+Raisin|Trochut|Wendy+One&display=swap"
		rel="stylesheet">
</head>

<body>
	<div class="container">
	<div class="jumbotron jumbotron-fluid">
		
		<div class="container">
			<h1 class="display-4">Burger Bliss</h1>
		</div>
	</div>
	{{{ body }}}
	</div>
</body>

</html>