{{!-- <h1>Burgers!</h1> --}}
<div class="container-fluid" >
  	<div class="jumbotron jumbotron-fluid">
		<h1 class="display-4"><i class="fas fa-hamburger"></i>Burger Bliss</h1>
    
	</div>
 
  <div class="row canYouSeeMeNow">
    <div class="col-6">
     <h1>Waiting to be Eaten!</h1>
<hr>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burgerB devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>
  
    <div class="col-6">
     <h1> Devoured!</h1>
     <hr>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgerB devoured=false}}
    {{/if}}
  {{/each}}
</ul>
    </div>
  </div>
</div>

 <div class="row canYouSeeMeNow2">
    <div class="col">
<i class="fas fa-hamburger"></i>
<h1>Add Your Own Burger
</h1>
<form class="create-form">
  <div class="form-group sm-textarea">
    {{!-- <label for="burg">Burger:</label> --}}
    <textarea type="text" id="burg" name="name" class="sm-textarea" rows="1"></textarea>
  </div>

  <button class="square_btn" type="submit">Add My Burger</button>
</form>
    </div>
 </div>
