{{!-- <h1>Burgers!</h1> --}}

<h1>Burgers waiting to be Eaten!</h1>

<ul class="left" style="text-align:left">
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burgerB devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h1 style="text-align:right">Burgers that have been Devoured!</h1>

<ul class="right" style="text-align:right">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgerB devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h1 style="text-align:center">Add a Burger</h1>
<form class="create-form">
  <div class="form-group">
    <label for="burg">Burger:</label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add My Burger</button>
</form>
