* {
/* font-family: 'Fascinate Inline', cursive; */
/* font-family: 'Trochut', cursive; */
font-family: 'Wendy One', sans-serif;
/* font-family: 'Fontdiner Swanky', cursive; */
/* font-family: 'Rum Raisin', sans-serif; */
}

body {
    background-image: url(../img/dinerbench.jpeg);
}
.jumbotron {
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-size: 70px;
    color: rgb(230, 32, 32);
    /* background-color: aquamarine; */
    /* background-image: url(../img/dinerbench.jpeg); */
    background-size: cover;
    /* background: url(/assets/img/big-cheese.jpg) center no-repeat; */
}

button {
font-size: 18px;
}

ul {
    font-size: 25px;
}

form {
    padding: 10px;
    text-align: center;
}

