* {
    /* font-family: 'Fontdiner Swanky', cursive; */
/* font-family: 'Rum Raisin', sans-serif; */
/* font-family: 'Fascinate Inline', cursive; */
/* font-family: 'Trochut', cursive; */
font-family: 'Wendy One', sans-serif;
box-sizing: border-box;
}

body {
    background-image: url(../img/dinerbench.jpeg);
}

.jumbotron {
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-size: 100px !important;
    color: rgb(230, 32, 32);
    background-color:transparent !important;
}
.jumbotron .display-4 {
    font-size: 100px !important;
    text-shadow: 3px 3px #0c0c0c
}

.square_btn{
    display: inline-block;
    padding: 7px 12px;
	border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, rgb(243, 157, 146) 0%, #e71010 100%);
    background-image: linear-gradient(45deg, rgb(243, 157, 146) 0%, #e71010 100%);
    transition: .4s;
}

button:hover {
    color: black;
    border: 2px solid black;
}

h1 {
    
    text-shadow: 1px 1px #dd0808
}

.canYouSeeMeNow, .canYouSeeMeNow2 {
background-color: rgba(248, 244, 244, .7);
/* opacity: .8; */
}

.canYouSeeMeNow2 {
padding-top: 4em;
text-align: center;
}

label {
    font-size: 25px;
}

/* .fas {
display: inline-block;
text-align: center;
width: 100%;
line-height: 18px;
color: rgb(214, 46, 46);
font-size: 28px;
padding: 0;
} */

textarea.sm-textarea {
    box-sizing: content-box;
    border: none;
    border-bottom: 2px solid #ff1e00;
    box-shadow: none;
    background-color: transparent;
    resize: none;
    font-size: 20px;
  }
  
 

ul {
    font-size: 25px;
}

li {
    padding: 3px;
}

form {
    padding: 10px;
    text-align: center;
}

